{% extends 'layouts/app.html' %}
{% load static %}

{% block content %}
  <div class="content-page">
    <div class="content">
      <div class="container-fluid">
        {% include 'layouts/partials/start-title.html' %}
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <form action="{% url 'store_task' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="project_id" class="form-label">Project Name</label>
                        <select id="project_id" name="project_id" class="form-select">
                          <option value="">-- Select Project --</option>
                          {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="name" class="form-label">Task Name</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter task name" required />
                      </div>

                      <div class="mb-3">
                        <label for="overview" class="form-label">Overview</label>
                        <textarea class="form-control" id="overview" name="overview" rows="5" placeholder="Enter some brief about task.."></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="priority" class="form-label">Priority</label>
                        <select id="priority" name="priority" class="form-select" required>
                          <option value="">-- Select Priority --</option>
                          <option value="low">Low</option>
                          <option value="medium">Medium</option>
                          <option value="high">High</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select name="status" class="form-select" required>
                          <option value="">-- Select Status --</option>
                          <option value="0">Active</option>
                          <option value="1">Inactive</option>
                          <option value="2">Purged</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="assign_user" class="form-label">Assign To User</label>
                        <select id="assign_user" name="assign_user" class="form-select">
                          <option value="">-- Optional --</option>
                          {% for user in users %}
                            <option value="{{ user.id }}">{{ user.first_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label class="form-label">Upload Files (multiple allowed)</label>
                        <input name="file" type="file" class="form-control" multiple />
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Start Date</label>
                        <input type="date" name="start_date" class="form-control" required />
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Due Date</label>
                        <input type="date" name="due_date" class="form-control" required />
                      </div>

                      <div class="mb-3">
                        <label for="assign_team" class="form-label">Assign To Team</label>
                        <select id="assign_team" name="assign_team" class="form-select">
                          <option value="">-- Optional --</option>
                          {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="text-end">
                    <button type="submit" class="btn btn-primary">Create Task</button>
                  </div>
                </form>
              </div> <!-- end card-body -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
