{% extends 'layouts/app.html' %}
{% load static %}

{% block content %}
<div class="content-page">
  <div class="content">
    <div class="container-fluid">
      {% include 'layouts/partials/start-title.html' %}

      <div class="row">
        <!-- Chat Area -->
        <div class="col-xxl-6 col-xl-8">
          <div class="card">
            <div class="card-body px-0 pb-0">
              <ul class="conversation-list px-3" data-simplebar style="max-height: 554px">
                {% for chat in chats %}
                  <li class="clearfix {% if chat.user == request.user %}odd text-end{% endif %}">
                    <div class="chat-avatar">
                      <img src="{% static 'assets/images/users/male-avtar.png' %}" class="rounded" alt="{{ chat.user.first_name }}" />
                      <i>{{ chat.timestamp|date:"h:i A" }}</i> {# For 12hr format use h:i A, for 24hr use H:i #}
                    </div>
                    <div class="conversation-text">
                      <div class="ctext-wrap">
                        <i>{{ chat.user.first_name }}</i>
                        <p>{{ chat.msg }}</p>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="card-body p-0">
              <div class="bg-light p-3">
                <form class="needs-validation" novalidate name="chat-form" id="chat-form" method="post" action="{% url 'store_chat' %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col mb-2 mb-sm-0">
                      <input type="text"
                             class="form-control border-0"
                             name="msg"
                             id="msg"
                             placeholder="Enter your text"
                             required />
                      <div class="invalid-feedback">Please enter your message</div>
                    </div>

                    <div class="col-sm-3 mb-2 mb-sm-0">
                      <select class="form-select" name="status" id="status">
                        <option value="">Priority</option>
                        <option value="1">High</option>
                        <option value="2">Medium</option>
                        <option value="3">Low</option>
                      </select>
                    </div>

                    <div class="col-sm-auto">
                      <div class="btn-group">
                        {% comment %} <a href="#" class="btn btn-light"><i class="uil uil-paperclip"></i></a>
                        <a href="#" class="btn btn-light"><i class='uil uil-smile'></i></a> {% endcomment %}
                        <button type="submit" class="btn btn-success chat-send">
                          <i class='uil uil-message'></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div> <!-- end card-body -->
          </div> <!-- end card -->
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end container-fluid -->
  </div> <!-- end content -->
</div> <!-- end content-page -->

{% include 'project/create.html' %}
{% include 'project/edit.html' %}
{% endblock %}
